body {
	padding: 0;
	margin: 0;
	color: rgb(255, 255, 255);
	font-size: 14px;
	background: rgb(36, 38, 44);
}

.container {
	width: 1170px;
	/*позиционирование по центру*/
	margin: 0 auto;
}
.box{
	width: 100%;
}
.halfbox{
	width: 50%;
}
.quarterbox{
	width: 25%;
}

.vivbox {
	height: 20px;
	width: 70px;
	margin: 5px;
    background: rgb(100, 100, 100);
}

.simplebox {
	height: 20px;
	width: 70px;
	margin-bottom: 10;
	margin: 5px;
    background: #aaa;
}

.button {
	height: 30px;
	width: 100px;
	margin: 5px;
    background: rgb(32, 73, 160);
}

.wrapper {
	position: relative;
  }
  img {
	width: 100%;
	height: auto;
}

.left{
	margin-left: auto;
}
.right{
	margin-right: auto;
}

.center{
	margin-left: auto;
	margin-right: auto;
}

.blue {
    background: rgb(70, 128, 255);
}
.lightblue {
    background: rgb(151, 183, 253);
}
.blackblue {
    background: rgb(32, 73, 160);
}
.orange {
    background: rgb(245, 103, 38);
}
.black {
    background: rgb(36, 38, 44);
}