body {
	padding: 0;
	margin: 0;
}

/* Контейнеры для объектов на странице */
.container {
	width: 1170px;
	/*позиционирование по центру*/
	margin: 0 auto;
}
.box{
	width: 100%;
}
.halfbox{
	width: 50%;
}
.quarterbox{
	width: 25%;
}

/* Различные карточки/коробки/кнопки */
.navbox {
	height: 20px;
	width: 20%;
	margin: 5px;
    background: rgb(100, 100, 100);
}
.simplebox {
	text-align: center;
	height: 20px;
	width: 70px;
	margin: 5px;
    background: #aaa;
}
.imgbox {
	text-align: center;
	height: 150px;
	width: 100%;
	margin: 5px;
    background: #aaa;
}
.button {
	text-align: center;
	height: 30px;
	width: 100px;
	margin: 5px;
	color: rgb(255, 255, 255);
    background: rgb(32, 73, 160);
}

/* Позиционирования */
.left{
	margin-left: auto;
}
.right{
	margin-right: auto;
}
.center{
	margin-left: auto;
	margin-right: auto;
}

/* Размеры */
.w100 {
	width: 100px;
}
.w140 {
	width: 140px;
}
.w180 {
	width: 180px;
}
.g50 {
	width: 50%;
}
.g65 {
	width: 65%;
}
.g80 {
	width: 80%;
}

/* Цвета */
.blue {
    background: rgb(70, 128, 255);
}
.blackblue {
    background: rgb(29, 98, 202);
}
.gray{
	background: rgb(100, 100, 100);
}
